# See sample file at: https://github.com/rethinkdb/rethinkdb/blob/next/packaging/assets/config/default.conf.sample
runuser=rethinkdb
rungroup=rethinkdb
pid-file=/var/run/rethinkdb/default.pid
directory=/var/lib/rethinkdb/default/data
log-file=/var/log/rethinkdb/default.log
bind=all
